body {
    background-color: #F2EFE9;
}

select {
    font-family: "futura-pt", sans-serif;
    font-size: medium;
    font-weight: 500;
    background-color: rgba(191, 144, 4, 0.25);
}

#map {
    height: 800px;
    width: 100%;
    display: inline-block;
}

.leaflet-popup-content p {
    margin: .1em;
}

#prev-day,
#next-day {
    width: 16px;
    height: 16px;
}

.map-title-container {   
    font-family: "romana-tw", serif;
    font-style: italic;
    position: absolute;
    bottom: 10px; 
    right: 20px;
    z-index: 1000; 
}

#map-title {
    color: #010440
}

.floating-query-panel {
    -webkit-text-fill-color: #250E00;
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;;
    position: fixed;
    top: 100px; 
    left: 20px; 
    background-color: rgba(191, 144, 4, 0.3);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1050;
}

.button {
    position: absolute;
    top: 85%;
    right: 50%;
    z-index: 1060;
}

.controls {
    position: absolute;
    left: 1%;
    top: 85%;
    z-index: 1045;
}

#switch-base-map-button img {
    max-width: 24px; 
    max-height: 24px; 
    vertical-align: middle; }

#query-results-container {
    max-height: 400px; 
    overflow-y: auto;
}


#query-results {
    border-collapse: collapse;
    width: 100%;
}

#query-results th, #query-results td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: rgba(242, 239, 233, 0.8);
}